body {
    margin: 0;
    padding: 0;
}

.container{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    display: block;
    margin: 10px;
    background-size: 50px 50px;
    background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
}

.grid{
    position: absolute;
}

.grid-item{
    position: relative;
    float: left;
    display: inline-block;
}

.wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: red;
}

.banner{
    position: relative;
    border: 1px solid black;
    box-sizing: border-box;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.infoBox{
    height: 50px;
    line-height: 50px;
    position: relative;
    bottom: 0;
    background-color: white;
    text-align: center;
}

.red{
    background-color: lightsalmon;
}

.green{
    background-color: lightgreen;
}

.blue{
    background-color: lightblue;
}

.grey{
    background-color: lightgrey;
}

.yellow{
    background-color: lightyellow;
}

.sky{
    background-color: lightskyblue;
}

.sea{
    background-color: lightseagreen;
}