body {
    margin: 0;
    padding: 0;
    background-color: lightcoral;
}

.container{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    display: block;
    margin: 10px;
    background-size: 50px 50px;
    background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
}

.grid{
    /*display: grid;*/
    position: absolute;
}

.grid-item{
    position: relative;
    display: inline-block;
}

.wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.banner{
    position: relative;
    background-color: black;
    color: white;
}

.infoBox{
    height: 50px;
    line-height: 50px;
    position: relative;
    bottom: 0;
    background-color: white;
    text-align: center;
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
}






.red{
    background-color: lightsalmon;
}

.green{
    background-color: lightgreen;
}

.blue{
    background-color: lightblue;
}

.grey{
    background-color: lightgrey;
}

.yellow{
    background-color: lightyellow;
}

.sky{
    background-color: lightskyblue;
}

.sea{
    background-color: lightseagreen;
}

.w160{
    width: 160px;
}

.w200{
    width: 200px;
}

.w300{
    width: 300px;
}

.w320{
    width: 320px;
}

.w350{
    width: 350px;
}

.w480{
    width: 480px;
}

.w500{
    width: 500px;
}

.w728{
    width: 728px;
}

.w750{
    width: 750px;
}

.w970{
    width: 970px;
}

.w1000{
    width: 1000px;
}

.w1200{
    width: 1200px;
}

.w1250{
    width: 1250px;
}

.h50{
    height: 50px;
}

.h90{
    height: 90px;
}

.h100{
    height: 100px;
}

.h150{
    height: 150px;
}

.h250{
    height: 250px;
}

.h300{
    height: 300px;
}

.h320{
    height: 320px;
}

.h350{
    height: 350px;
}

.h480{
    height: 480px;
}

.h600{
    height: 600px;
}

.h650{
    height: 650px;
}
